{
  "presets": [
    "es2015"
  ],
  "sourceMaps": "inline",
  "env": {
    "dist": {
      "sourceMaps": true
    },
    "jetbrains": {
      "plugins": [
        "rewire"
      ],
      "retainLines": true
    },
    "development": {
      "plugins": [
        "rewire"
      ]
    }
  }
}
