{
  "presets": [
    "es2015",
    "stage-3"
  ],
  "plugins": [
    "lodash"
  ],
  "compact": false,
  "sourceMaps": "inline",
  "env": {
    "dev": {
      "sourceMaps": "both",
      "retainLines": true
    }
  }
}
