{
  "presets": [
    "es2015"
  ],
  "plugins": [
    "lodash"
  ],
  "sourceMaps": true,
  "env": {
    "jetbrains": {
      "sourceMaps": "both",
      "retainLines": true
    },
    "dist": {
      "sourceMaps": "inline",
      "compact": false
    }
  }
}
